/GuiaPooEj03/nbproject/private/
/GuiaPooEj03/build/
/GuiaPooEj04/nbproject/private/
/GuiaPooEj04/build/
/GuiaPooEj05/nbproject/private/
/GuiaPooEj05/build/
/GuiaPooEj06/nbproject/private/
/GuiaPooEj06/build/
/GuiaPooEj07/nbproject/private/
/GuiaPooEj07/build/
/GuiaPooEj08/nbproject/private/